<%- include('header')%>
	<div class="ui grid">
		<div class="three wide column">	
		</div>
		<div class="ten wide column">
			
		</div>
		<div class="three wide column">
			
		</div>
	</div>
<%- include('footer')%>